@model IEnumerable<Crud.Models.State>
@{
    ViewData["Title"] = "Index";
}

<h1>State</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country.CountryName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.CountryName)
                </td>
                <td>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.StateId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
